# Copyright (c) 2026 T.R. Fullhart. All Rights Reserved.
---
# tasks file for sdr

- name: "SDR | Blacklist DVB kernel modules for RTL-SDR"
  ansible.builtin.copy:
    dest: /etc/modprobe.d/blacklist-dvb.conf
    # todo: move the content of this file to the files dir
    # todo: add a header to the file to say why we do it
    # todo: add a header to the file to say it was configured via ansible
    content: |
      blacklist dvb_usb_rtl28xxu
    mode: "0644"
    owner: root
    group: root
  become: true

- name: "Install Debian hamradio-sdr metapackage"
  ansible.builtin.apt:
    name:
      - hamradio-sdr
    install_recommends: true
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: "SDR++ | Find latest nightly release"
  ansible.builtin.uri:
    url: "https://api.github.com/repos/AlexandreRouma/SDRPlusPlus/releases/tags/nightly"
    method: GET
    return_content: true
    headers:
      Accept: "application/vnd.github.v3+json"
  register: sdr_release_info
  check_mode: false
  when: ansible_facts['os_family'] == 'Debian'

- name: "SDR++ | Calculate target package name"
  ansible.builtin.set_fact:
    sdr_target_package: "sdrpp_debian_{{ rel }}_{{ ansible_facts['architecture'] }}.deb"
  vars:
    rel: "{{ sdr_release_override if (sdr_release_override | length > 0) else ansible_facts['distribution_release'] }}"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - sdr_release_info is defined
    - sdr_release_info.status == 200

- name: "SDR++ | Find matching Debian package asset"
  ansible.builtin.set_fact:
    sdr_matching_assets: "{{ sdr_release_info.json.assets | selectattr('name', 'equalto', sdr_target_package) | list }}"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - sdr_release_info is defined
    - sdr_release_info.status == 200

- name: "SDR++ | Fail if no matching package found"
  ansible.builtin.fail:
    msg: >
      No SDR++ package found for release '{{ sdr_release_override | default(ansible_facts['distribution_release']) }}'
      and architecture '{{ ansible_facts['architecture'] }}'.
      Available assets: {{ sdr_release_info.json.assets | map(attribute='name') | list | join(', ') }}.
      If you are running Debian testing or an unsupported release, set the 'sdr_release_override' variable
      to a supported release (e.g., 'sid', 'bookworm', 'bullseye') in your host_vars file.
  when:
    - ansible_facts['os_family'] == 'Debian'
    - sdr_release_info.status == 200
    - sdr_matching_assets | length == 0

- name: "SDR++ | Set download URL fact"
  ansible.builtin.set_fact:
    sdr_sdrplusplus_url: "{{ sdr_matching_assets[0].browser_download_url }}"
  when:
    - ansible_facts['os_family'] == 'Debian'
    - sdr_release_info.status == 200
    - sdr_matching_assets | length > 0

# todo: does this file need to be cleaned up after the play
# todo: is there a better way to save a temp file during an ansible play
- name: "SDR++ | Download Debian package"
  ansible.builtin.get_url:
    url: "{{ sdr_sdrplusplus_url }}"
    dest: "/tmp/sdrplusplus.deb"
    mode: "0644"
  when: sdr_sdrplusplus_url is defined
  check_mode: false

- name: "SDR++ | Install Debian package"
  ansible.builtin.apt:
    deb: "/tmp/sdrplusplus.deb"
    state: present
  become: true
  when: sdr_sdrplusplus_url is defined
