# Copyright (c) 2026 T.R. Fullhart. All Rights Reserved.
---
- name: "System | Check 1Password Session"
  ansible.builtin.command: op whoami
  register: base_op_session_check
  failed_when: false
  changed_when: false
