- name: "System | Enable and Start zerotier-one"
  ansible.builtin.systemd:
    name: "{{ base_zerotier_unit_name }}"
    state: started
    enabled: true
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: "Allow ZeroTier UDP port for direct P2P connections"
  community.general.ufw:
    rule: allow
    port: "9993"
    proto: udp
    comment: "allow ZeroTier direct P2P connections"
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: "Allow all incoming traffic from the ZeroTier virtual interface"
  community.general.ufw:
    rule: allow
    direction: in
    interface: "{{ base_zerotier_interface }}"
    comment: "allow incoming from ZeroTier network"
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: "System | Check if already in ZeroTier network"
  ansible.builtin.command:
    cmd: "zerotier-cli listnetworks -j"
  register: base_zerotier_networks
  changed_when: false
  become: true
  check_mode: false
  ignore_errors: "{{ ansible_check_mode }}"

- name: "System | Join ZeroTier Network"
  ansible.builtin.command:
    cmd: "zerotier-cli join {{ zerotier_network_id }}"
  become: true
  changed_when: false
  when: >-
    base_zerotier_networks is not failed and
    zerotier_network_id not in (base_zerotier_networks.stdout | default('[]') | from_json | map(attribute='nwid') | list)

- name: "System | Setup ZeroTier hosts discovery"
  ansible.builtin.include_tasks: linux_zerotier_hosts.yml
