- name: "System | Install gnupg (Debian)"
  ansible.builtin.package:
    name: "gnupg"
    state: present
  become: true
  when: ansible_facts.os_family == 'Debian'

- name: "System | Ensure /etc/apt/keyrings exists (Debian)"
  ansible.builtin.file:
    path: "/etc/apt/keyrings"
    state: directory
    mode: "0755"
  become: true
  when: ansible_facts.os_family == 'Debian'
  check_mode: false

- name: "System | Download ZeroTier GPG key (Debian)"
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/zerotier/ZeroTierOne/main/doc/contact%40zerotier.com.gpg"
    dest: "/etc/apt/keyrings/zerotier.asc"
    mode: "0644"
  become: true
  when: ansible_facts.os_family == 'Debian'
  check_mode: false

- name: "System | Add ZeroTier Repository (Debian)"
  ansible.builtin.apt_repository:
    repo: >-
      deb [signed-by=/etc/apt/keyrings/zerotier.asc]
      http://download.zerotier.com/debian/{{ ansible_facts.distribution_release | lower }}
      {{ ansible_facts.distribution_release | lower }} main
    state: present
    filename: "zerotier"
    update_cache: false
  become: true
  when: ansible_facts.os_family == 'Debian'
  check_mode: false

- name: "System | Update apt cache (Debian)"
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: ansible_facts.os_family == 'Debian'
  changed_when: false
  check_mode: false
  failed_when: false

- name: "System | Install Base Packages (linux)"
  ansible.builtin.package:
    name: "{{ base_final_package_names }}"
    state: present
  become: true
  failed_when: false
