- name: Enable uncomplicated firewall
  community.general.ufw:
    state: enabled
  become: true

- name: "Allow all required ports in UFW"
  community.general.ufw:
    rule: allow
    port: "{{ item.port | string }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.comment }}"
  loop: "{{ base_firewall_rules }}"
  become: true
