# SPDX-License-Identifier: MIT-0
---
# tasks file for base

# - name: Ensure the community.general collection is installed
#   ansible.builtin.command: ansible-galaxy collection install community.general
#   run_once: true
#   delegate_to: localhost

- name: "System | Install Base Packages"
  ansible.builtin.apt:
    name:
      - build-essential
      - curl
      - git
      - ansible-core
      - zerotier-one
      - libnotify-bin
      - sway-notification-center
      - openssh-server
      - ufw
    state: present
  become: true
  when: ansible_facts['os_family'] | lower == 'debian'

- name: "System | Install Base Packages"
  community.general.pacman:
    name:
      - curl
      - git
      - ansible-core
      - zerotier-one
      - net-tools
      - openssh
      - vim
      - nano
    state: present
  become: true
  when: ansible_facts['os_family'] | lower == 'archlinux'

- name: "System | Gather list of installed packages"
  ansible.builtin.package_facts:
    manager: auto

- name: Enable uncomplicated firewall
  community.general.ufw:
    state: enabled
  become: true
  when:
    - "'ufw' in ansible_facts.packages"

- name: "System | Enable and Start sshd"
  ansible.builtin.systemd:
    name: sshd
    state: started
    enabled: true
  become: true
  when:
    - "'openssh' in ansible_facts.packages or 'openssh-server' in ansible_facts.packages"

- name: Allow SSH (OpenSSH profile)
  community.general.ufw:
    rule: limit
    name: SSH
  become: true
  when:
    - "'openssh' in ansible_facts.packages or 'openssh-server' in ansible_facts.packages"
    - "'ufw' in ansible_facts.packages"

- name: "System | Enable and Start zerotier-one"
  ansible.builtin.systemd:
    name: zerotier-one
    state: started
    enabled: true
  become: true
  when: "'zerotier-one' in ansible_facts.packages"

- name: "System | Check if already in ZeroTier network"
  ansible.builtin.command:
    cmd: "zerotier-cli listnetworks -j"
  register: base_zerotier_networks
  changed_when: false
  become: true
  check_mode: false
  when: "'zerotier-one' in ansible_facts.packages"

- name: "System | Join ZeroTier Network"
  ansible.builtin.command:
    cmd: "zerotier-cli join {{ zerotier_network_id }}"
  become: true
  changed_when: false
  when:
    - "'zerotier-one' in ansible_facts.packages"
    - "zerotier_network_id not in (base_zerotier_networks.stdout | from_json | map(attribute='nwid') | list)"

- name: "User | Ensure User Exists"
  ansible.builtin.user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
    groups: "{{ base_user_groups }}"
    append: true
  become: true

- name: "User | Install mise"
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.shell: |
    set -o pipefail
    curl https://mise.run | sh
  args:
    creates: "/home/{{ user_name }}/.local/bin/mise"
    executable: /bin/bash

- name: "User | Install and configure chezmoi with mise"
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.command:
    cmd: "/home/{{ user_name }}/.local/bin/mise use --global chezmoi"
  args:
    creates: "/home/{{ user_name }}/.local/share/mise/installs/chezmoi"

- name: "User | Init and apply dotfiles"
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.command:
    cmd: "/home/{{ user_name }}/.local/bin/mise x -- chezmoi init --apply https://github.com/genetikayos/dotfiles.git"
  args:
    creates: "/home/{{ user_name }}/.local/share/chezmoi"
