# Copyright (c) 2026 T.R. Fullhart. All Rights Reserved.
---
# tasks file for base

# - name: Ensure the community.general collection is installed
#   ansible.builtin.command: ansible-galaxy collection install community.general
#   run_once: true
#   delegate_to: localhost

- name: "System | Load OS Specific Variables"
  ansible.builtin.include_vars:
    dir: vars
    files_matching: "{{ item | lower }}.yml"
  loop:
    - "{{ ansible_facts.system }}"
    - "{{ ansible_facts.os_family }}"
    - "{{ ansible_facts.distribution }}"

- name: "System | Install Base Packages"
  ansible.builtin.include_tasks: "{{ ansible_facts.system | lower }}_install_packages.yml"
  vars:
    base_final_package_names: "{{ (base_package_names + base_sshd_package_names + base_zerotier_package_names) | unique }}"

- name: "System | Enable and configure firewall"
  ansible.builtin.include_tasks: "{{ ansible_facts.system | lower }}_enable_firewall.yml"

- name: "System | Enable and start sshd"
  ansible.builtin.include_tasks: "{{ ansible_facts.system | lower }}_enable_sshd.yml"

- name: "System | Enable and start zerotier-one"
  ansible.builtin.include_tasks: "{{ ansible_facts.system | lower }}_enable_zerotier.yml"
